	<div id="banner-area">
		<div class="container">
			<div class="row">
				<!-- Subpage title start -->
				<div class="banner-title-content col-sm-12">
		        	<div class="text-center">
			        	<h2>About Us</h2>
			        	<ul class="breadcrumb">
				            <li><i class="icon icon-home2"></i> Home</li>
				            <li>About</li>
			          	</ul>
		          	</div>
		      	</div><!-- Subpage title end -->
			</div>
		</div>
	</div><!-- Banner area end -->

	<!-- Main container start -->
	<section id="main-container">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-12">
					<img src="images/about-image.jpg" alt="" style="width:775px;">
					<div class="gap-20"></div>
					<h3>Product Registration System</h3>
					<p>As part of the UNEP en.lighten initiative Southeast Asia and the Pacific Monitoring, Verification and Enforcement (MVE) Project, the UNEP-GEF en.lighten initiative has developed a prototype registration system to illustrate the capabilities and highlight the benefits of product registration systems. The prototype enables those who wish to implement a fully operational system to do so more quickly and easily because they have a model on which to base their system.</p>
					<p>Policymakers may review the prototype and consider whether to use it (in whole or part) as a basis for their product registration systems. The prototype registration system is informed by global best practices and contains the essential elements of a registration system, including user input forms, data tables, and output reports. The registration system has separate login credentials for applicants, regulators and administrators to ensure smooth processing of applications.</p>
					<p>Applicant portal – an applicant-supplier/manufacturer/trader must be registered in the system before their products can be sold in the market. The applicant may also track the status of their application on applicant portal. The prototype registration system provides examples of both online and offline forms. </p>
					<p>Regulator portal – demonstrates a platform for regulators to review and approve applications and product analysis. The regulator has the ability to approve, revoke or refuse an application. It also has advanced features such as ability to extract sales, data, testing facilities data, report generation and analysis. </p>
					<p>Administrator portal – manages the smooth administration and functioning of all accounts. It has all the features of applicant and regulator portal and the ability to solve any issues. </p>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-12">

					<div class="sidebar sidebar-right">
						<div class="widget">
							<h3 class="widget-title">Modules of Project</h3>
							<div class="panel-group" id="accordion">
				              	<div class="panel panel-default">
					                <div class="panel-heading">
						                <h4 class="panel-title"> 
						                	<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Product Registration System</a> 
						                </h4>
					                </div>
					                <div id="collapseOne" class="panel-collapse collapse in">
					                  <div class="panel-body">
					                    <p> Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor</p>
					                    <a href="#">Read More</a>
					                  </div>
					                </div>
				              	</div><!--/ Panel 1 end-->

				              	<div class="panel panel-default">
					                <div class="panel-heading">
						                <h4 class="panel-title">
						                	<a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwo">User Management System</a>
						            	</h4>
					                </div>
					                <div id="collapseTwo" class="panel-collapse collapse">
					                  <div class="panel-body">
					                    <p>We are award winning representation and a historic track record by a former partner of the legendary Tohnnie L. Hochran and former</p>
					                    <a href="#">Read More</a>
					                  </div>
					                </div>
				              	</div><!--/ Panel 2 end-->

				              	<div class="panel panel-default">
					                <div class="panel-heading">
						                <h4 class="panel-title">
						                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseThree">Product Reporting System</a> 
						            	</h4>
					                </div>
					                <div id="collapseThree" class="panel-collapse collapse">
					                  <div class="panel-body">
					                    <p>Vivamus risus ipsum, vestibulum ut pellentesque iaculis, tempus vitae eros. Aliquam in orci non ipsum eleifend scelerisque.</p>
					                    <a href="#">Read More</a>
					                  </div>
					                </div>
				              	</div><!--/ Panel 3 end-->
				            </div><!--/ Panel end -->

						</div><!-- Widget end -->


					</div><!-- Sidebar end -->
				</div><!-- Col end -->

					


			</div><!-- Row end -->
		</div><!-- Container end -->
	</section><!-- Main container end -->