	<div id="banner-area"    ng-if="user_level_id == '1'">
		<div class="container">
			<div class="row">
				<!-- Subpage title start -->
				<div class="banner-title-content col-sm-12">
		        	<div class="text-center">
			        	<h2>Applicant Dashboard</h2>
		          	</div>
		      	</div>
			</div>
		</div>
	</div>
	
		<div id="banner-area"   ng-if="user_level_id == '2'">
		<div class="container">
			<div class="row">
				<!-- Subpage title start -->
				<div class="banner-title-content col-sm-12">
		        	<div class="text-center">
			        	<h2>Regulator Dashboard</h2>
			        	</div>
		      	</div>
			</div>
		</div>
	</div>
	
		<div id="banner-area"  ng-if="!loggedIn">
		<div class="container">
			<div class="row">
				<!-- Subpage title start -->
				<div class="banner-title-content col-sm-12">
		        	<div class="text-center">
			        	<h2>You are not logged In</h2>
						<ul class="breadcrumb">
				            <a href="/login/"><li>Login</li></a>
			          	</ul>
			        	</div>
		      	</div>
			</div>
		</div>
	</div>

	<!-- Main container start -->
	
	<section  ng-if="user_level_id == '1'">
		<div class="container">
			<div class="row wow fadeInLeft facts-wrapper">
				<div class="facts one col-md-3 col-sm-6">
					<span class="facts-icon"></span>
					<div class="facts-num">
						<a href="/product/add"><span class="counter">Product</span>
						<h3>Registration</h3></a>
					</div>
				</div>
				<div class="facts two col-md-3 col-sm-6">
					<span class="facts-icon"></span>
					<div class="facts-num">
						<a href="/product"><span class="counter">Product</span>
						<h3>Reporting</h3></a>

					</div>
				</div>
				
				<div class="facts four col-md-3 col-sm-6">
					<span class="facts-icon"></span>
					<div class="facts-num">
						<a href="/user/logout"><span class="counter">Log</span>
						<h3>out</h3></a>
					</div>
				</div>
			</div>
		</div><!--/ Container end -->
    </section><!--/ Counter end -->
	
	<section  ng-if="user_level_id == '2'">
		<div class="container">
			
			<div class="row wow fadeInLeft facts-wrapper">
				<div class="facts two col-md-3 col-sm-6">
					<span class="facts-icon"></span>
					<div class="facts-num">
						<a href="/product"><span class="counter">Product</span>
						<h3>Reporting</h3></a>

					</div>
				</div>
				
				<div class="facts four col-md-3 col-sm-6">
					<span class="facts-icon"></span>
					<div class="facts-num">
						<a href="/user/logout"><span class="counter">Log</span>
						<h3>out</h3></a>
					</div>
				</div>
			</div>
		</div><!--/ Container end -->
    </section><!--/ Counter end -->