	<section id="slideshow-wrapper" class="no-padding">	
		<!-- Carousel -->
    	<div id="main-slide" class="carousel slide" data-ride="carousel">

			<!-- Indicators -->
			<ol class="carousel-indicators visible-lg visible-md">
			  	<li data-target="#main-slide" data-slide-to="0" class="active"></li>
			    <li data-target="#main-slide" data-slide-to="1"></li>
			    <li data-target="#main-slide" data-slide-to="2"></li>
			</ol><!--/ Indicators end-->

			<!-- Carousel inner -->
			<div class="carousel-inner">

			    <div class="item active">
			    	<img class="img-responsive" src="images/slider/bg1.jpg" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                        </div>
                    </div>
			    </div><!--/ Carousel item end -->
				
				<div class="item">
			    	<img class="img-responsive" src="images/slider/bg2.jpg" alt="slider">
                    <div class="slider-content">
                    </div>
			    </div><!--/ Carousel item end -->
				
				<div class="item">
			    	<img class="img-responsive" src="images/slider/bg3.png" alt="slider">
                    <div class="slider-content">
                    </div>
			    </div><!--/ Carousel item end -->

			</div><!-- Carousel inner end-->

			<!-- Controllers -->
			<a class="left carousel-control" href="#main-slide" data-slide="prev">
		    	<span><i class="fa fa-angle-left"></i></span>
			</a>
			<a class="right carousel-control" href="#main-slide" data-slide="next">
		    	<span><i class="fa fa-angle-right"></i></span>
			</a>

		</div><!--/ Carousel end -->    	
    </section><!--/ Slider end -->

    <!-- Counter Strat -->
	<section id="ts_counter" class="ts_counter text-center">
		<div class="container">
			<div class="row wow fadeInLeft facts-wrapper">
				<div class="facts one col-md-3 col-sm-6">
					<span class="facts-icon"><i class="icon icon-users"></i></span>
					<div class="facts-num">
						<span class="counter">Product</span>
						<h3>Registration Module</h3> 
					</div>
				</div>
				<div class="facts two col-md-3 col-sm-6">
					<span class="facts-icon"><i class="icon icon-library"></i></span>
					<div class="facts-num">
						<span class="counter">Applicant</span>
						<h3>User Login</h3> 

					</div>
				</div>
				<div class="facts three col-md-3 col-sm-6">
					<span class="facts-icon"><i class="icon icon-trophy"></i></span>
					<div class="facts-num">
						<span class="counter">Regulator</span>
						<h3>User Login</h3> 
					</div>
				</div>
				<div class="facts four col-md-3 col-sm-6">
					<span class="facts-icon"><i class="icon icon-stack"></i></span>
					<div class="facts-num">
						<span class="counter">Search</span>
						<h3>Registration Module</h3>
					</div>
				</div>
			</div>
		</div><!--/ Container end -->
    </section><!--/ Counter end -->

	<section id="service-image" class="service-image">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3 class="title-big">Welcome to Product Registration System</h3>
				</div>
			</div> <!-- Title row end -->


			<div class="row">
				<div class="col-md-4 wow fadeInDown animated" data-wow-delay=".5s" style="visibility: visible;-webkit-animation-delay: .5s; -moz-animation-delay: .5s; animation-delay: .5s;">
					<div class="service-content text-center">
						<span class="service-img"><img class="img-responsive" src="images/services/1.jpg" alt=""></span>
						<h3>Product Management</h3>
						<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit euctot</p>
						<a class="btn btn-primary" href="#">View Modules</a>
					</div>
				</div><!--/ End 1st service -->

				<div class="col-md-4 wow fadeInDown animated" data-wow-delay=".5s" style="visibility: visible;-webkit-animation-delay: .5s; -moz-animation-delay: .5s; animation-delay: .5s;">
					<div class="service-content text-center">
						<span class="service-img"><img class="img-responsive" src="images/services/2.jpg" alt=""></span>
						<h3>Search Management</h3>
						<p>Tenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit cuctoy</p>
						<a class="btn btn-primary" href="#">View Modules</a>
					</div>
				</div><!--/ End 2nd service -->


				<div class="col-md-4 wow fadeInDown animated" data-wow-delay=".5s" style="visibility: visible;-webkit-animation-delay: .5s; -moz-animation-delay: .5s; animation-delay: .5s;">
					<div class="service-content text-center">
						<span class="service-img"><img class="img-responsive" src="images/services/3.png" alt=""></span>
						<h3>Login Management</h3>
						<p>Nenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit nuctog</p>
						<a class="btn btn-primary" href="#">View Modules</a>
					</div>
				</div><!--/ End 3rd service -->



			</div><!--/ Content row end -->
		</div><!--/ Container end -->
	</section>

	<!-- Choose us area start -->
	<section id="image-block" class="image-block no-padding">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 ts-padding img-block-left">
					
					<h3>Product Registration System</h3>
					<p class="title-desc">As part of the UNEP en.lighten initiative Southeast Asia and the Pacific Monitoring, Verification and Enforcement (MVE) Project, the UNEP-GEF en.lighten initiative has developed a prototype registration system to illustrate the capabilities and highlight the benefits of product registration systems. The prototype enables those who wish to implement a fully operational system to do so more quickly and easily because they have a model on which to base their system.</p>
					<p class="title-desc">Policymakers may review the prototype and consider whether to use it (in whole or part) as a basis for their product registration systems. The prototype registration system is informed by global best practices and contains the essential elements of a registration system, including user input forms, data tables, and output reports. The registration system has separate login credentials for applicants, regulators and administrators to ensure smooth processing of applications.</p>

					<div class="gap-20"></div>
				</div>
				<div class="col-md-6 ts-padding" style="height:420px;background:url(images/image-block-bg.jpg) 50% 50% / cover no-repeat;">
				</div>
			</div>
		</div>
	</section><!-- Choose area end -->